* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline-style: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Medium Screen (Ipad)*/
@media (min-width: 767px) {
    .container {
        width: 720px;
    }
}
/*Big Screen*/ 
@media (min-width: 1215px) {
    .container {
        width: 1115px;
    }
}
.nav {
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0;
    background-color: #000;
}
.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nav .container .logo {
    display: flex;
    align-items: center;
}
.nav .container .logo img{
    height: 40px;
}
.nav .container .logo h2 {
    color: #ffc800;
}
.nav .container .links {
    display: none;
}
.nav .container .bars{
    font-size: 30px;
    color: #fff;
} 
@media (min-width: 767px) {
    .nav .container .links {
        display: flex;
        align-items: center;
    }
    .nav .container .links .link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 10px;
    }
    .nav .container .links a {
        color: #fff;
        margin-right: 10px;
        text-decoration: none;
    }
    .nav .container .icons {
        display: flex;
        align-items: center;
    }
    .nav .container .icons i{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 5px;
    }
    .nav .container .bars{
        display: none;
    }   
}
/*Styling Landing section*/
.landing {
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width: 767px) {
    .landing {
        background-position: center;
    }
}
.landing  h4{
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.landing h2:first-of-type {
    font-size: 2.8rem;
}
.landing h2:last-of-type {
    font-size: 2.8rem;
    color: #cd8383;
    margin-bottom: 10px;
}
.btn{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
}
/*quality*/
.quality {
    background-color: #000;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 767px) {
    .quality {
        text-align: left;
    }
}
.quality h2 {
    font-weight: 400;
    color: #ffc800;
    margin-bottom: 20px;
}
.quality p {
    color: #fff;
    line-height: 1.2;
}
/*visit title*/
.title {
    background-color: #fecc0a;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
/*Deals section*/
.deals {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.deals h2 {
    font-weight: normal;
    font-size: 2.1rem;
    margin-bottom: 20px;
}
.deals .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
@media (max-width: 990px) {
    .deals .cont {
        flex-direction: column;
    }
}
.deals .cont .box {
    position: relative;
    background-color: #000;
}
@media (max-width: 990px) and (min-width: 767px) {
    .deals .cont .box{
        display: flex;
    }
    .deals .cont .box img {
        width: 30%;
    }
    .deals .cont .box .text {
        flex: 1;
        background-color: #000;
    }
}
.deals .cont .box span {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.deals .cont .box .text {
    padding: 10px;
}
.deals .cont .box h4 {
    color: #ffc800;
}
.deals .cont .box p {
    color: #fff;
    text-align: justify;
}
/*new arrival*/
.new-arrival {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    text-align: center;
} 
.new-arrival h4 {
    color: #ffc800;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.new-arrival .container > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.new-arrival .container > div img {
    width: 24%;
}
@media (max-width: 1040px) {
    .new-arrival .container > div img {
        width: 23%;
    }
}
@media (max-width: 766px) {
    .new-arrival .container > div img {
        width: 100%;
    }
}
/*discount*/
.discount {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fecc0a;
}
.discount .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 766px) {
    .discount .container {
        flex-direction: column;
        text-align: center;
    }
    .discount .container .text {
        margin-bottom: 15px;
    }
}
.discount .container .text span {
    color: #fff;
    text-transform: uppercase;
}
.discount .container .text h2 {
    color: #fff;
    margin-top: 10px;
    font-size: 2.2rem;
}
/*achievement*/
.achievement {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width:767px) {
    .achievement {
        text-align: center;
    }
}
.achievement .container > h2 {
    color: #fff;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 5px;
}
.achievement .container > p {
    color: #fff;
    margin-bottom: 35px;
    font-weight: bold;
}
.achievement .container .cont {
    display: flex;
    align-items: center;
}
.achievement .container .cont img {
    width: 45%;
    margin-right: 40px;
}
@media (max-width:767px) {
    .achievement .container .cont img {
        display: none;
    }
}
.achievement .container .cont .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}
.achievement .container .cont .info .box {
    width: 50%;
    color: #fff;
}
.achievement .info .box {
    margin-bottom: 40px;
}
.achievement .info .box h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.achievement .info .box h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
/*contact us*/
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 255, 255, 0.2) url(../Images/contactus.jpg) no-repeat  center/cover;
    background-blend-mode: overlay;
    border-bottom: 10px solid #ffc800;
}
.contact .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width: 700px) {
    .contact .container {
        flex-direction: column;
        text-align: center;
    }
}
.contact .text {
    flex-grow: 1;
}
.contact .text h2 {
    color: #ffc800;
    font-size: 2rem;
    margin-bottom: 10px;
}
.contact .text p {
    color: #fff;
    text-align: justify;
    font-weight: 500;
}
.contact form {
    background-color: transparent;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px #ffc800;
}
.contact form input {
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.contact form button {
    width: 100%;
    color: #000;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 15px;
    background-color: #fecc0a;
    border: none;
    letter-spacing: 5px;
}
/*footer*/
.footer {
    padding: 50px 0;
    background-color: #000;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
    }
    .footer .container > div:not(:last-child) {
        border-bottom: 1px solid #fff;
        padding: 5px;
        margin-bottom: 10px;
    }
}
.footer .links a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.footer .social {
    color: #fff;
}
.footer .social > div{
    margin-bottom: 10px;
}
.footer .social i {
    margin-right: 5px;
}
.footer .subscribe > div {
    margin-bottom: 10px;
}
.footer .subscribe input {
    width: 100%;
    background-color: #000;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .footer .subscribe input {
        width: 300px;
    }
}